
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f7f7f7;
  color: #333;
}


header {
  background: #ffffff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

header .logo {
  font-size: 22px;
  font-weight: bold;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #0077ff;
}

/* Hero Section */
#hero {
  text-align: center;
  padding: 60px 20px;
  background: white;
}

#hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.profile-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
}

/* Section Structure */
section {
  padding: 40px ;
  background: white;
  margin: 20px 0;
}

h2 {
  margin-bottom: 10px;
  font-size: 26px;
}


.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
}

.skills-list li {
    background: #ffffff;
    padding: 10px 18px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    font-size: 14px;
}


.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #fafafa;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card a {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #0077ff;
  font-weight: 500;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 12px;
  background: #0077ff;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #005ec4;
}